@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
}

@theme inline {
  --color-background: var(--background);
}
