@import "tailwindcss";

html,
body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
}

@theme inline {
  --color-background: var(--background);
}
