@import "tailwindcss";

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
}
@custom-variant dark (&:where(.dark, .dark *));
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --animate-marquee: marquee 10s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
